RewriteOptions inherit

# BEGIN W3TC Page Cache core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTPS} =on
    RewriteRule .* - [E=W3TC_SSL:_ssl]
    RewriteCond %{SERVER_PORT} =443
    RewriteRule .* - [E=W3TC_SSL:_ssl]
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteRule .* - [E=W3TC_ENC:_gzip]
    RewriteCond %{HTTP_COOKIE} w3tc_preview [NC]
    RewriteRule .* - [E=W3TC_PREVIEW:_preview]
    RewriteCond %{REQUEST_METHOD} !=POST
    RewriteCond %{QUERY_STRING} =""
    RewriteCond %{REQUEST_URI} \/$
    RewriteCond %{HTTP_COOKIE} !(comment_author|wp\-postpass|w3tc_logged_out|wordpress_logged_in|wptouch_switch_toggle) [NC]
    RewriteCond "%{DOCUMENT_ROOT}/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_SSL}%{ENV:W3TC_PREVIEW}.html%{ENV:W3TC_ENC}" -f
    RewriteRule .* "/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_SSL}%{ENV:W3TC_PREVIEW}.html%{ENV:W3TC_ENC}" [L]
</IfModule>
# END W3TC Page Cache core
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sitemap\.html$ https\:\/\/presnells\.com\/sitemap_index\.xml [R=301,L]

RewriteCond %{HTTP_HOST} ^presnellsrvresort\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.presnellsrvresort\.com$
RewriteRule ^(.*)$ https\:\/\/presnells\.com\/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^presnellsmarina\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.presnellsmarina\.com$
RewriteRule ^(.*)$ https\:\/\/presnells\.com\/$1 [R=301,L]

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https\:\/\/presnells\.com\/$1 [R=301,L]

#SITEGUARD_PLUGIN_SETTINGS_START
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
